{% extends 'navbar/projectnavbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
{% if messages %}
{% for message in message %}
{% if message.tags %}
<script>alert("{{ message }}")</script>
{% endif %}
{% endfor %}
{% endif %}
<div class="container1" >
    <div class='bodycontainer' align="center">
        <h1>Register Page</h1>
        <br>
        <form method="post" action="{% url 'signup1' %}">
            {% csrf_token %}
            <label>username</label>
            <input type="text" name="username" placeholder="Enter email or phone number"><br><br>
            <label>Password</label>
            <input type="password" name="password"><br><br>
            <label>Conform Password</label>
            <input type="password" name="password1"><br><br>
              <button type="submit" name="Submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
</body>
</html>